@tailwind base;
@tailwind components;
@tailwind utilities;

.parallelogram {
  transform: skew(-10deg);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}